import("igraph")
import("MASS")
import("glmnet")
import("doParallel")
import("parallel")
import("mvtnorm")
importFrom("graphics", "plot")
importFrom("graphics", "par")
importFrom("stats", "runif")

export(MNS)
export(cv.MNS)
export(gen.Network)
S3method(plot, MNS, plot.MNS)
#export(plot.MNS)
